@model ChampionList

@{
    ViewData["Title"] = "Champion List";
}

<h1>ChampionList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Champion
            </th>
            <th>
                Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data.Values) {
    var imageFile = $"{item.id}.png";
        <tr>
            <td>
              <img src="~/championImg/@imageFile " />
            </td>
            <td>
                @Html.ActionLink(item.id, "ShowChampion", "Home", new { id = item.id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>

        </tr>
}
    </tbody>
</table>
